<h1>All Authors</h1>

<% @authors.each do |author| %>
  <h3><a href="/authors/<%= author.id %>"><%= author.name %></a></h3>
  <p>Name: <%= author.name %></h3>
  <p>Id: <%= author.id %></h3>
  <p>Year Born: <%= author.year_born %></p>
  <p>Alive?: <%= author.alive? %></p>
  <p>Created At: <%= author.created_at %></p>
  <p>Updated At: <%= author.updated_at %></p>
  <p>Book Count: <%= author.book_count %></p>
  <%= link_to "Delete #{author.name}", "/authors/#{author.id}", method: "delete"%>
  <a id=<%="update#{author.id}"%> href="/authors/<%= author.id %>/edit"><%= "Update #{author.name}" %></a>
<% end %>

<h3><a href="/authors/new">New Author</a><h3>
