<a href="/authors">Author Index</a>
  <h3><%= @author.name %></h3>
  <p><%= @author.year_born %></p>
  <p><%= @author.alive %></p>
  <p><%= @author.created_at %></p>
  <p><%= @author.updated_at %></p>
  <a href="/authors/<%= @author.id %>/edit">Edit</a>
  <a href="/authors/<%= @author.id %>/books">Books</a>