<h1>All Books</h1>

<% @books.each do |book| %>
  <h3><a href="/books/<%= book.id %>"><%= book.title %></a></h3>
  <p>Book title: <%= book.title %></h3>
  <p>Year written: <%= book.year_written %></p>
  <p>Fiction?: <%= book.fiction %></p>
  <p>Created at: <%= book.created_at %></p>
  <p>Updated at: <%= book.updated_at %></p>
  <p>Author id: <%= book.author_id %></p>
  <%= link_to "Delete #{book.title}", "/books/#{book.id}", method: "delete"%>
  <a href="/books/<%=book.id%>/edit"><%= "Edit #{book.title}" %></a>
<% end %>