<!DOCTYPE html>
<html>
  <head>
    <title>AuthorsBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div >
    <h3 > <a href='/'>//  Home  /</a><a href='/authors'>/  Authors Index  /</a><a href='/books'>/  Books Index  //</a> </h3>
    </div>
    <hr />
    <%= yield %>
  </body>
</html>
